@{
    ViewData["Title"] = "Upload";
}
<h2>Hi MoFo</h2>
<form asp-controller="Import" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form> 